<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048303927122-ci2tmdeq96c9e0kk2jvqbtp1m4k9f2en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048303927122-ci2tmdeq96c9e0kk2jvqbtp1m4k9f2en</string>
	<key>API_KEY</key>
	<string>AIzaSyBFQDLYDMGBrLtrzSAkMiIIhHQzNi65Bgo</string>
	<key>GCM_SENDER_ID</key>
	<string>1048303927122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heydocapp</string>
	<key>PROJECT_ID</key>
	<string>heydoc-2f2ba</string>
	<key>STORAGE_BUCKET</key>
	<string>heydoc-2f2ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048303927122:ios:4732628ab3e5c546cf448b</string>
</dict>
</plist>